<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.bonfire">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity android:name="com.novoda.bonfire.login.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".channel.ChannelsActivity" />

    <activity
      android:name="com.novoda.bonfire.chat.ChatActivity"
      android:parentActivityName=".channel.ChannelsActivity" />

    <activity
      android:name=".channel.NewChannelActivity"
      android:label="@string/createChannel"
      android:parentActivityName=".channel.ChannelsActivity" />

    <activity android:name=".user.UsersActivity" />

    <activity android:name=".welcome.WelcomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="novoda.com"
          android:pathPrefix="/bonfire/welcome"
          android:scheme="https" />
        <data
          android:host="novoda.com"
          android:pathPrefix="/bonfire/welcome"
          android:scheme="http" />
      </intent-filter>
    </activity>

  </application>

</manifest>
